.tit-filtros{
	float: left;
	color:#000000;
	font-size: 15px;
	font-family: $font-secondary;
	text-align: left;
	font-weight: 400;
	margin-bottom: 20px;
	font-weight: 600;
}
.breadcrumb{
	font-family: $font-secondary;
	background-color: transparent;
    float: left;
    /* border-top: 1px solid #999999; */
    border-bottom: 1px solid #F2F2F2;
    width: 100%;
    border-radius: 0px;
    li{
    	float: left;
    	color:#4D4D4D;
    	font-size: 13px;
    	&:before{
    		    padding: 0 5px;
			    color: #ccc;
			    content: "/\00a0";
    	}
    	& a{
    		float: left;
	    	color:#4D4D4D;
	    	font-size: 13px;
    	}
    }
}

.cont-p-4{
	display: inline-block;
	margin-bottom: 10px;
}

.menu-lat-a{
	color:#000000;
	font-size: 14px;
	float:left;
	margin-top:0px;
	margin-bottom: 10px;
	text-align: left;
	color:#000000;
	border-bottom: 1px solid #808080;
	width: 100%;
	margin-top:20px;
}
.wrap-product{
	margin-bottom: 20px;
	padding: 0px 15px;
}
.filtos-catalogo{
	text-align: left;
	font-family: $font-secondary;
	& .panel{
		margin-top:20px !important;
		border:none !important;
		box-shadow:none !important;
		.panel-heading{
			padding: 0px;
			margin:0px;
			border-bottom: 1px solid #808080;
			position: relative;
		    display: inline-block;
		    width: 100%;
		    color: #000000;
			.categoria{
				color:#000000;
				font-size: 14px;
				float:left;
				margin-top:0px;
				margin-bottom: 10px;
				& a{
					text-align: left;
					color:#000000;
				}
			}
		}
		.panel-body{
			border-top:none !important;
			padding: 0px 0px 0px 0px;

			.subcategorias{
				display: inline-block;
				padding: 0px;
				margin: 0px;
				list-style: none;
				& li{
					color:#808080;
					font-size: 12px;
					& a{
						color:#808080;
						&:hover{
							color:#f15a24;
						}
					}
				}
			}
		}
	}
}
.controles-top{
	width: 100%;
	display:flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	flex-wrap:wrap;
	padding: 10px 0px;
	& .order{
		label{
			text-align: left;
			font-size: 10px;
			color:#000000;
			font-weight: 500;
		}
	}
	& .pag-sup{
			text-align: left;
			font-size: 10px;
			color:#000000;
			font-weight: 500;
		.contador{
		}
		.paginador{
			.btn-left,.btn-right{
				color:#808080;
				background-color: transparent;
				margin:0px 3px;
				border:none;
				&:hover{
					color:#000000;
				}
			}
			.btn-left{

			}
			.btn-right{

			}
		}
	}
}

/* producto interior */

.product-nav{
	margin:0px;
	padding: 0px!important;
	.slick-list{
		padding: 0px!important;
	}
	
	.thumbnail{
		height: 80px;
	    display: flex;
	    align-content: center;
	    align-items: center;
	    justify-content: center;
	    position: relative;
	    padding: 8px;
	    margin-bottom: 5px;
	    border:none;
	    & img{
	    	max-height: 60px;
    		display: inline-block;
	    }
	    &:hover{
	    	cursor:pointer;
	    }
	}
}

.p-descripcion{
	display: inline-block;
	position: relative;
	width:100%;
	float:left;
	.heart{
		position: absolute;
		top:5px;
		right: 5px;
		height: 33px;
    	width: 30px;
    	background-image: url(../img/home/favorite.png);
    	background-position: center center;
    	background-repeat: no-repeat;
    	background-size: contain;
    	&:hover{
    		cursor: pointer;
    		background-image: url(../img/home/hover-favorite.png);
    	}
	}
	.titulo{
		display: inline-block;
		width:100%;
		float:left;
		font-size:18px;
		margin:0px;
		margin-bottom: 5px;
		text-align: left;
		font-family: $font-secondary;
	}
	.descripcion{
			position: relative;
			width:100%;
			float:left;
			text-align: left;
			font-size: 15px;
			font-family: $font-secondary;
	}
}
.progress{
	width: 74px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    float: left;
    height: 12px;
	.starts{
		position: absolute;
	    top: -7px;
	    left: 0px;
	}
	.progress-bar{
		background-color: #FFE940;
	}
}
.precio{
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: left;
	font-size: 12px;
	& span{
		font-size: 15px;
		color:red;
	}
}

.info-producto-int{
	text-align: left;
	font-family: $font-secondary;
	.form-group{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		label{
			font-weight: 300;
			text-align: left;
		}
	} 
}
.caracteristicas{
	display: inline-block;
	width:100%;
	margin-top:20px;
}

.squaredOne {
  margin: 2px;
  border: solid 1px #797979;
  width: 28px;
  height: 28px;
  position: relative;
  float: left;
    border-radius: 50%;
    overflow: hidden;
    border: none;
  /* background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5); */
}
.squaredOne label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px 8px;
  cursor: pointer;
  /* background: linear-gradient(top, #222 0%, #45484d 100%); */
  /* box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1); */
}
.squaredOne label:after {
  	content: " ";
    color: #FFFFFF;
    position: absolute;
    width: 16px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.squaredOne:hover label::after {
  opacity: 1;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne:hover + label:after,.squaredOne input[type=checkbox]:checked + label:after {
  	content: " ";
    color: #FFFFFF;
    position: absolute;
    width: 16px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 50%;
}
